<h1>Do you want to change this choices ?</h1>

<%= simple_form_for @criterium, url: criterium_path(@criterium), method: 'patch' do |f| %>
<%= f.input :platforms, as: :check_boxes, collection: @criterium.platforms%>
<%= f.input :rating, collection: 1..10, as: :radio_buttons %>
<%= f.input :duration %>
<%= f.button :submit %>
<% end %>
