<div class="deadpool">
    <%= image_tag "deadpool2.png", alt: "alttext" %>
  </div>

<div class="ctn-sign">

  <script>
  document.querySelector('.ctn-sign').onmousemove = (e) => {

  const x = e.pageX - e.target.offsetLeft
  const y = e.pageY - e.target.offsetTop

  e.target.style.setProperty('--x', `${ x }px`)
  e.target.style.setProperty('--y', `${ y }px`)

}
</script>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2 id="sign">Sign up for free</h2>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: "Enter your email"%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" },
                placeholder: "Enter your password" %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" },
                placeholder: "Please confirm your password"%>
    <%= f.input :conjoint1, label:"Profile 1", placeholder: "Harry" %>
    <%= f.input :conjoint2, placeholder: "Sally", label: "Profile 2" %>
  </div>

  <div class="form-actions">
    <div class="submit">
    <%= f.button :submit, "Sign up" %>
  </div>
    <div class="links"><%= render "devise/shared/links" %></div>
  </div>

<% end %>
</div>
