<h1>Votre Library</h1>

<p> Vous avez vu : </p>
  <% if @couple.present? %>
  <% @couple.each do |vue| %>
  <ul>
    <%=vue.movie.title%> de <%=vue.movie.director%> - <%=vue.movie.date%></ul>
  </ul>
    <% end %>
  <% end %>

<p> Conjoint 1 a vu : </p>
  <% if @conjoint1.present? %>
  <% @conjoint1.each do |vue| %>
  <ul>
    <%=vue.movie.title%> de <%=vue.movie.director%> - <%=vue.movie.date%></ul>
  </ul>
    <% end %>
  <% end %>

<p> Conjoint 2 a vu : </p>
  <% if @conjoint2.present? %>
  <% @conjoint2.each do |vue| %>
  <ul>
    <%=vue.movie.title%> de <%=vue.movie.director%> - <%=vue.movie.date%></ul>
  </ul>
    <% end %>
  <% end %>
