<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>


<h1> <%= @movie.title %> </h1>
<p>Synopsis : <%= @movie.synopsis %> </p>
<p><strong>Actors</strong> </p>
<% @movie.cast.each do |actor| %>
<p>  <%= actor %> </p>
  <% end %>
<p>Director : <%= @movie.director %> </p>
<p> <%= @movie.duration %> </p>
<p>Rating : <%= @movie.rating %> </p>

<% Criterium::PLATFORMS_FULL_NAME.each do |platform| %>
  <% @movie.urls.find do |link| %>
    <% if link.include?(platform) %>
    <%= link_to "Watch on #{platform}", link %>
  <% end %>
  <% end %>
<% end %>

<%= simple_form_for @vue, url: vue_path, method: 'post' do |f| %>
    <%= hidden_field_tag(:movie_id, @movie.id) %>
    <%= f.input :conjoint1, input_html: { checked: true }, as: :hidden %>
    <%= f.button :submit, "conjoint 1 l'a vu" %>
<% end %>

<%= simple_form_for @vue, url: vue_path, method: 'post' do |f| %>
    <%= hidden_field_tag(:movie_id, @movie.id) %>
    <%= f.input :conjoint2, input_html: { checked: true }, as: :hidden %>
    <%= f.button :submit, "conjoint 2 l'a vu" %>
<% end %>

<%= simple_form_for @vue, url: vue_path, method: 'post' do |f| %>
    <%= hidden_field_tag(:movie_id, @movie.id) %>
    <%= f.input :conjoint1, input_html: { checked: true }, as: :hidden %>
    <%= f.input :conjoint2, input_html: { checked: true }, as: :hidden %>
    <%= f.button :submit, "Les 2 l'ont vu" %>
<% end %>
