<div class="body-index">
  <div class="title">
    <h1>Your Library</h1>
  </div>

  <div class="button-select-class">
    <div class="button-select">
      <%= link_to "#{current_user.conjoint1}'s Movies", vues_path(conjoint1: true), class: "#{'active' if params[:conjoint1]}"  %>
    </div>
    <div class="button-select">
      <%= link_to " #{current_user.conjoint2}'s Movies", vues_path(conjoint2: true), class: "#{'active' if params[:conjoint2]}" %>
    </div>
    <div class="button-select">
      <%= link_to 'Your Movies', vues_path, class: "#{'active' if !(params[:conjoint2] || params[:conjoint1])}"  %>
    </div>
  </div>

  <div class="infos-movie">
    <% @vues.each do |vue| %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <%= image_tag vue.movie.photo_url %>
          </div>
          <div class="flip-card-back">
            <div id="<%= vue.id %>" class="vue_id">
              <ul class="ul-title"><%= vue.movie.title %></ul>
              <ul class="ul-synopsis"><%= vue.movie.synopsis[0, 200] %>...</ul>
              <ul class="redirect-to"><%= link_to "See more", movie_path(vue.movie.id)%></ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>




