
<body class="<%= body_class %>">
</body>

<div class="container-home" style="z-index: 10;">
  <div class="logo">
    <%= image_tag "logoichooze1.png", alt: "alttext" %>
  </div>

<% if user_signed_in? == false %>
  <br><h1>Join the community</h1>
  <br><p>Spend less time choosing, more time watching !</p>
  <br>

  <%= link_to 'Join us', new_user_registration_path, class: "btn btn-home" %>
</div>
<% end %>
<canvas id="canvas"></canvas>

<script>
var c = document.getElementById('canvas');
var ctx = c.getContext('2d');
var btn = document.getElementsByClassName('btn-home')[0];
console.log(btn.getBoundingClientRect());
const btnPosition = btn.getBoundingClientRect();
const start = {
  x: btnPosition.x + btnPosition.width / 2,
  y: btnPosition.y + btnPosition.height / 2,
}
// c.width = btn.offsetWidth;
// c.height = btn.offsetHeight;
c.width = window.screen.width;
c.height = window.screen.height;

var mouseX = c.width / 2;
var mouseY = c.height / 2;
var txtPosition = 0;

var particles = [];

btn.addEventListener('mouseup', function(e){
    mouseX = e.clientX;
    mouseY = e.clientY;

    createParticles();
});

setTimeout(function(){
    createParticles();
}, 250);

draw();

function draw(){
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    drawBg();
    incParticles();
    drawParticles();

    window.requestAnimationFrame(draw);

}

function drawBg(){
    // ctx.rect(0, 0, c.width, c.height);
    // ctx.fillStyle = "rgba(40, 45, 50, 0.1)";
    // ctx.fill();
}

function drawParticles(){
    for(i = 0; i < particles.length; i++){
        ctx.beginPath();
        ctx.arc(particles[i].x,
                     particles[i].y,
                     particles[i].size,
                     0,
                     Math.PI * 2);
        ctx.fillStyle = particles[i].color;
        ctx.closePath();
        ctx.fill();
    }
}

function incParticles(){
    for(i = 0; i < particles.length; i++){
        particles[i].x += particles[i].velX;
        particles[i].y += particles[i].velY;

        particles[i].size = Math.max(0, (particles[i].size - .05));

        if(particles[i].size === 0){
            particles.splice(i, 1);
        }
    }
}

function createParticles(){
    for(i = 0; i < 50; i++){
        particles.push({
            x: start.x,
            y: start.y,
            size: parseInt(Math.random() * 12),
            color: 'rgb(' + ranRgb() + ')',
            velX: ranVel(),
            velY: ranVel()
        });
    }
}
window.addEventListener('click', (ev) => { console.log(ev) })
console.log(start);
function ranRgb(){
    var colors = [
        '22, 244, 208',
        '22, 244, 208',
        '21, 59, 80',
        '255, 255, 255'
    ];

    var i = parseInt(Math.random() * 10);

    return colors[i];
}

function ranVel(){
    var vel = 0;

    if(Math.random() < 0.5){
        vel = Math.abs(Math.random());
    } else {
        vel = -Math.abs(Math.random());
    }

    return vel;
}
</script>



<% if user_signed_in?  %>

  <div class="container2">
    <%= simple_form_for @criterium, url: criterium_path(@criterium), method: 'patch' do |f| %>
    <div class="form">
      <%= f.label :platforms, class: 'label', label: "Your streaming platforms" %>
      <div class="input">
        <%= f.input :platforms, as: :check_boxes, collection: Criterium::PLATFORMS, label: "", class: 'input'%>
      </div>

      <%= f.label :rating, class: 'label', label: "You're in the mood for ..."  %>
      <div class="input">
        <div class="form-group radio_buttons optional criterium_rating form-group-valid">
          <input type="hidden" name="criterium[rating]" value="">
          <div class="form-check">
            <input class="form-check-input is-valid radio_buttons optional" type="radio" value="4" name="criterium[rating]" id="criterium_rating_4">
            <label class="form-check-label collection_radio_buttons" for="criterium_rating_4"><%= image_tag "navet.png", alt: "alttext", class:"home-logo" %>
              <div class="navet"><%= image_tag "any2.png", alt: "alttext", class:"any" %></div>
            </label>
          </div>
          <div class="form-check"><input class="form-check-input is-valid radio_buttons optional" type="radio" value="6" checked="checked" name="criterium[rating]" id="criterium_rating_6">
            <label class="form-check-label collection_radio_buttons" for="criterium_rating_6"><%= image_tag "popcorn.png", alt: "alttext", class:"home-logo" %>
              <div class="navet"><%= image_tag "blockbuster2.png", alt: "alttext", class:"any" %></div>
            </label>
          </div>
          <div class="form-check"><input class="form-check-input is-valid radio_buttons optional" type="radio" value="8" name="criterium[rating]" id="criterium_rating_8">
            <label class="form-check-label collection_radio_buttons" for="criterium_rating_8"><%= image_tag "cerises.png", alt: "alttext", class:"home-logo" %>
              <div class="navet"><%= image_tag "only2.png", alt: "alttext", class:"any" %></div>
            </label>
          </div>
        </div>
      </div>

      <%= f.label :duration, class: 'label', label: "How long do you have ? " %>
      <div class="input">
        <div class="form-group radio_buttons optional criterium_duration form-group-valid">
          <input type="hidden" name="criterium[duration]" value="">
          <div class="form-check">
            <input class="form-check-input is-valid radio_buttons optional" type="radio" value="105" name="criterium[duration]" id="criterium_duration_105">
            <label class="form-check-label collection_radio_buttons" for="criterium_duration_105"><%= image_tag "boatcoule.png", alt: "alttext", class:"home-logo" %>
            <div class="navet"><%= image_tag "12titanic.png", alt: "alttext", class:"any" %></div>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input is-valid radio_buttons optional" type="radio" value="150" checked="checked" name="criterium[duration]" id="criterium_duration_150">
            <label class="form-check-label collection_radio_buttons" for="criterium_duration_150"><%= image_tag "boatsemi.png", alt: "alttext", class:"home-logo" %>
            <div class="navet"><%= image_tag "34titanic.png", alt: "alttext", class:"any" %></div>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input is-valid radio_buttons optional" type="radio" value="500" name="criterium[duration]" id="criterium_duration_500">
            <label class="form-check-label collection_radio_buttons" for="criterium_duration_500"><%= image_tag "boat.png", alt: "alttext", class:"home-logo" %>
              <div class="navet"><%= image_tag "1titanic.png", alt: "alttext", class:"any" %>
            </label>
              </div>
          </div>
        </div>
      <%= f.button :submit %>
      </div>
   <% end  %>
  </div>
<% end %>

