
<body class="<%= body_class %>">
</body>

<div class="container">
  <div class="logo">
    <%= image_tag "logoichoose1.png", alt: "alttext" %>
  </div>
  <br><h1>Join the community</h1>
  <br><p>Spend last time choosing more time watching</p>
  <br><%= link_to 'Join us', movies_path, class: "btn btn-home" %>
</div>


<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in?  %>
  <%= simple_form_for @criterium, url: criterium_path(@criterium), method: 'patch' do |f| %>
    <%= f.input :platforms, as: :check_boxes, collection: Criterium::PLATFORMS%>
    <%= f.input :rating, collection: 1..10, as: :radio_buttons %>
    <%= f.input :duration %>
    <%= f.button :submit %>
    <% end %>
 <% else %>
  <%= simple_form_for @criterium, url: criteria_path, method: 'post' do |f| %>
    <%= f.input :platforms, as: :check_boxes, collection: Criterium::PLATFORMS%>
    <%= f.input :rating, collection: 1..10, as: :radio_buttons %>
    <%= f.input :duration %>
    <%= f.button :submit %>
    <% end %>
 <% end  %> -->

