<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user.present? %>
<%= simple_form_for @criterium, url: criteria_path(@criterium), method: 'patch' do |f| %>
  <%= f.input :platforms, as: :check_boxes, collection: @criterium.platforms%>
  <%= f.input :rating, collection: 1..10, as: :radio_buttons %>
  <%= f.input :duration, as: :time, :minute_step => 5 %>
  <%= f.button :submit %>
  <% end %>
<% end %>

<%= link_to 'api', criteria_path, method: 'patch' %>
<p> <%= @name %> </p>

<%= link_to "watch movie", @answer2  %>
<%= @duration  %>

