
<body class="<%= body_class %>">
</body>

<div class="container">
  <div class="logo">
    <%= image_tag "logoichoose1.png", alt: "alttext" %>
  </div>

<% if user_signed_in? == false %>
  <br><h1>Join the community</h1>
  <br><p>Spend less time choosing, more time watching !</p>
  <br><%= link_to 'Join us', new_user_registration_path, class: "btn btn-home" %>
</div>
<% end %>

<% if user_signed_in?  %>

  <div class="container2">
    <%= simple_form_for @criterium, url: criterium_path(@criterium), method: 'patch' do |f| %>
      <%= f.input :platforms, as: :check_boxes, collection: Criterium::PLATFORMS%>
      <%= f.input :rating, collection: [4, 6, 8], as: :radio_buttons %>
      <%= f.input :duration, collection: [105, 150, 500], as: :radio_buttons %>
      <%= f.button :submit %>
   <% end  %>
  </div>
<% end %>
