<body class="<%= body_class %>">

<div class="r2d2">
    <%= image_tag "r2d23.png", alt: "alttext" %>
  </div>

<div class="main-container">

<script>
  document.querySelector('.main-container').onmousemove = (e) => {

  const x = e.pageX - e.target.offsetLeft
  const y = e.pageY - e.target.offsetTop

  e.target.style.setProperty('--x', `${ x }px`)
  e.target.style.setProperty('--y', `${ y }px`)

}
</script>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <h2 id="log">Log in</h2>

    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: "Username or email"%>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" },
                placeholder: "Password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <div class="ex"><%= render "devise/shared/links" %></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>

</div>





